.body-content { 
  padding-top: 90px !important;
}
.body-admin { 
  background-color: #2f4050;
  /*background-image: url("../lib/css/patterns/header-profile.png");*/
  /*background-repeat: repeat-x;*/
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.dosir-list li a {
  padding: 1px 0;
}
.dosir-list li a:hover {
  text-decoration: underline;
}
.dosir-list li {
  display: block;
}
.dosir-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}
.highlight_word {
  /*color: red !important;*/
  font-weight: bold;
} 

.note-editor.note-frame {
    border: none
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.note-editor .btn-default:hover,
.note-editor .btn-default:focus,
.note-editor .btn-default:active,
.note-editor .btn-default.active,
.open .dropdown-toggle.note-editor .btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.note-editor .btn-default:active,
.note-editor .btn-default.active,
.open .dropdown-toggle.note-editor .btn-default {
  background-image: none;
}
.note-editor .btn-default.disabled,
.note-editor .btn-default[disabled],
fieldset[disabled] .note-editor .btn-default,
.note-editor .btn-default.disabled:hover,
.note-editor .btn-default[disabled]:hover,
fieldset[disabled] .note-editor .btn-default:hover,
.note-editor .btn-default.disabled:focus,
.note-editor .btn-default[disabled]:focus,
fieldset[disabled] .note-editor .btn-default:focus,
.note-editor .btn-default.disabled:active,
.note-editor .btn-default[disabled]:active,
fieldset[disabled] .note-editor .btn-default:active,
.note-editor .btn-default.disabled.active,
.note-editor .btn-default[disabled].active,
fieldset[disabled] .note-editor .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}