body { padding-top: 60px; }
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.dosir-list li a {
  padding: 1px 0;
}
.dosir-list li a:hover {
  text-decoration: underline;
}
.dosir-list li {
  display: block;
}
.dosir-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}
.highlight_word {
  /*color: red !important;*/
  font-weight: bold;
} 

